<section class="about_me">
  <div>
    <div class="square"></div>
    <!-- <img src="" alt=""> -->
  </div>
  <div>
    <p>
      I am a 18 years old developer. I started learn Javascript
      in 2017 because I wanted to create a Discord Bot for my
      friend's and I server. Because of the 2020 pandemic, I 
      set a goal to study web development professionally.
    </p>

    <p>
      I'm currently working as a Front-end developer, and studying
      at the university.
    </p>
  </div>
</section>