<section class="about_me" id="about">
  <div class="about_image-container">
    <img class="square" src="https://i.picsum.photos/id/127/500/500.jpg?grayscale&hmac=f3vhm-kQC1z2opD7drJw5NwoFHQbB48n-dD6YIxtoDQ" alt="Douglas Lovera picture">
  </div>
  <div>
    <p>
      I am a 18 years old developer. I started learn Javascript
      in 2017 because I wanted to create a Discord Bot for my
      friend's and I server. Because of the 2020 pandemic, I 
      set a goal to study web development professionally.
    </p>

    <p>
      I'm currently working as a Front-end developer, and studying
      at the university.
    </p>

    <div class="social_media">
      <a
        href="https://linkedin.com/in/douglaslovera/"
        target="_blank"
        rel="noreferrer"
      >
        <img src="/assets/icon_linkedin.svg" fill="#fff">
      </a>
      <a
        href="https://github.com/doulovera/"
        target="_blank"
        rel="noreferrer"
      >
        <img src="/assets/icon_github.svg">
      </a>
      <a
        href="https://twitter.com/doulovera/"
        target="_blank"
        rel="noreferrer"
      >
        <img src="/assets/icon_twitter.svg">
      </a>
    </div>
  </div>
</section>