<section class="hero">
  <img src="/assets/douglaslovera.png" alt="Douglas Lovera">
  <h1>Douglas Lovera 👨‍💻</h1>
  <p>
    I am a Front-end Developer. I believe on changing the world from Software and the Internet.
  </p>
</section>