{% from "./_project.njk" import project %}
{% set test = "testadadasfdsafsadfsd" %}
{%  %}
{%  %}
{%  %}

<section class="projects" id="projects">
  {{ test }}
  {{ project(
    'im-a-gen',
    'https://res.cloudinary.com/dyonw3lkf/image/upload/v1629578532/Portfolio%20images/imagen_wprul8.png',
    ['html', 'ts', 'react'],
    'https://im-a-gen.netlify.app/',
    'https://github.com/doulovera/oneone-web'
    ) 
  }}
  {{ project(
    'Numrify',
    'https://res.cloudinary.com/dyonw3lkf/image/upload/v1631054511/Portfolio%20images/numrify_k2qzkb.png',
    ['html', 'js', 'react'],
    'https://numrify.netlify.app/',
    'https://github.com/doulovera/numrify'
    ) 
  }}
  {{ project(
    'OneOne Discord Bot',
    'https://res.cloudinary.com/dyonw3lkf/image/upload/v1631415377/Portfolio%20images/2021-09-11_21-55_k81v4f.png',
    ['html', 'ts'],
    'https://oneone.netlify.app/',
    'https://github.com/doulovera/oneone-web'
    ) 
  }}
  
</section>