:root {
  --app-min-width: 375px;
  --dark-primary: #171717;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: var(--app-min-width);
  background-color: var(--dark-primary);
  color: #fff;
  line-height: 1.5;
}

/* **** */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  background-color: #000000e0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

header a.logo {
  font-size: 2.6rem;
}

header a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

header nav a:hover {
  color: #aaa;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10%;
}

/* **** */
.hero {
  margin: 15rem 0 9rem;
}

.hero img {
  width: 64px;
  background: #394a99;
  background: linear-gradient(90deg,#394a99 29%,#1f2952 82%);
  border-radius: 50%;
}

.hero h1 {
  margin: 0;
  font-size: 5.6rem;
}

.hero p {
  max-width: 700px;
  width: 80%;
  min-width: 310px;
  font-size: 2.4rem;
}

/* **** */
.about_me {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 5rem;
}

.about_me div {
  min-width: 280px;
  margin: 0 auto;
}

.about_image-container {
  width: 30%;
}

.about_me .square {
  aspect-ratio: 1/1;
  width: 280px;
  background-color: gray;
  object-fit: cover;
  box-shadow: 10px 10px 20px 3px #0e0e0e;
}

.about_me div p {
  max-width: 465px;
  margin: 0 0 10px;
  font-size: 1.8rem;
}

.about_me div .social_media {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.social_media a {
  display: block;
  height: 35px;
  width: 35px;
  padding: 1px;
  text-decoration: none;
  border: 5px solid transparent;
  border-radius: 10px;
}

.social_media a:hover {
  text-decoration: none;
  border: 5px solid #394a99;
}

.social_media a img {
  width: 35px;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 2rem;
  width: 100%;
  margin: 10rem auto;
}

.project {
  display: block;
  max-width: 350px;
  width: 80%;
  min-width: 280px;
  background-color: salmon;
}




@media screen and (min-width: 768px) {
  .about_me {
    flex-direction: row;
    gap: 60px;
  }
}